#image{
    text-align: center;
    clip-path: circle();
    position: relative;
    right: 50px;
    bottom: 40px;
}

img {
    width: 215px;
}

#name{
    text-align: center;
    background-color: #22b1bb;
    height: 100px;
   position: relative;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #eee;
   
}

#left{
    background-color: #055c6c;
    position:relative ;
    bottom:20px;
    width: 600px;
    float: left;
    border-style: groove;
    height: 625px;
    background-image:url(https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg?t=st=1678275574~exp=1678276174~hmac=1527a2d5663d254272cfe54557d2c94465ba15bf901be8cb3b0a465227ae49de) ;
}

#right{
    float: right;
    width: 1000px;
    position: relative;
    bottom: 20px;
    padding: 20px;
}

body{
     background-color: whitesmoke;
    border-style: double;
}

#container{
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;

}

#menu{
    background-color: black;
    width: 200px;
    position: relative;
    bottom:35px;
    border-radius: 0px 0px 40px 40px;
}

#footer{
    background-color: #22b1bb;
    position: relative;
    bottom: 38px;
    clear: both;
}

h1{
    position: relative;
    top: 25px;
}

h2{
    background-color: rgb(226, 238, 234);
    border-style: solid;
    border-radius: 0px 0px 50px 0px;
    
}
/* mouse over h2*/
h2:hover{

    font-size: 30px;
}

/* mouse over link */
a:hover {
    color: #3450cc;
  }

/*code for mobile devices smaller than 650px*/

@media only screen and (max-width:650px){


body{
    background-color: #e2e9e7;
    width: 750px;
}
#container{
    background-color: rgb(223, 226, 232);
    width: 750px;

}
h2{
    border-style: none;
    background-color: non;
    width: 750px;
    border-style: none;
    border-color:#e2e9e7 ;
}

#right{
    float: none;
    width: 750px;
    position: relative;
    top: 150px;
    right: 500px;
    border-style: none;
    padding: 500px;
    height: 400px;
    
}

#left{
    background-image: none;
    position: relative;
    bottom: 50px;
    width: 750px;
}

#name{
    font-size: medium;
    background-color: #67d3d3;
}

#menu{
    position: relative;
    left: 550px;
    top: 10px;
    border-radius: none;

}

#image{
    position: relative;
    top: 16px;
    left: 30px;
    width: 180px;
    height: 180px;
}

#footer{
    background-color: aquamarine;
    text-align: center;
}

}


/*code for mobile devices smaller than 1000px*/

@media only screen and (max-width:1000px){


    body{
        background-color: #67d3d3;
        width: 750px;
    }
    #container{
        background-color: rgb(255, 255, 255);
        width: 750px;
    
    }
    h2{
        border-style: none;
        background-color: non;
        width: 750px;
        border-style: none;
        border-color:#ffffff ;
    }
    
    #right{
        float: none;
        width: 750px;
        position: relative;
        top: 150px;
        right: 500px;
        border-style: none;
        padding: 500px;
        height: 400px;
        b
        
    }
    
    #left{
        background-image: none;
        position: relative;
        bottom: 50px;
        width: 750px;
        text-align: center;
    }
    
    #name{
        font-size: medium;
        font-style: oblique;
        background-color: deepskyblue;
    
    }
    
    #menu{
        position: relative;
        bottom: 90px;
        border-radius: none;
        text-align: left;
    
    
    }
    
    #image{
        position: relative;
        top: 16px;
        left: 300px;
        width: 180px;
        height: 180px;
        clip-path: circle();
    }
    
    #footer{
        text-align: center;
        background-color: burlywood;
    }
   
    
    }
